@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F5EBEB;
    
}

.portfolio {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 25px;
}

ul li:last-child {
    margin-right: 0;
}

ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    position: relative;
    transition: color 0.3s;
}

ul li a:hover {
    color: #867070;
}

.main {
    display: flex;
    margin-top: 40px;
}

.left-column,
.right-column {
    flex-basis: 50%;
}

.right-column img {
    width: 300px;
    margin-left: 120px;
}

.left-column h1 {
    font-size: 3rem;
}

.left-column h3 {
    font-size: 1.5rem;
}

span {
    color: #867070;
}

.left-column p {
    font-size: 14px;
    color: #999;
    margin: 20px 0;
}

.btn button {
    padding: 10px 20px;
    margin-right: 15px;
    outline: none;
    border: 1px solid #867070;
    border-radius: 20px;
    cursor: pointer;
    color: #867070;
    background: transparent;
    transition: background-color 0.3s, color 0.3s;

}

.btn button:hover {
    background-color: #867070;
    color: white;
}

.social-icons {
    width: 200px;
    text-align: center;
    opacity: 0.6;
    margin-top: 50px;
    cursor: pointer;
}

.social-icons img {
    height: 30px;
    margin: 0 10px;
    transition: opacity 0.3s;
    cursor: pointer;
}

.social-icons img:hover {
    opacity: 1;
    cursor: pointer;
}

.project-link {
    color: #867070;
    text-decoration: none;
}
